<div ng-controller="orderCtrl">
  <!-- Header do Pedido -->
  <div ng-show="!selectionCustomer">
    <div class="row visible-print-block" style="margin:-50px 0 40px 0; padding:0;">
      <span class="pull-left">
        <img src="public/img/logo_adsmoveis_pedido.png" alt="ADS Móveis">
      </span>
      <span class="pull-left" style="bottom: 0; margin-left:50px; margin-top:10px;">Rua ficticia, 435, Pq industrial - Cidade - PR
        <br /> Fone: [00] 0000-0000 | Cel.: [00] 0000-0000 | [0000]0000-0000
        <br /> E-mail: mayconds000@gmail.com - www.site.com.br
        <br />
      </span>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <span>PEDIDO Nº : {{pedido.id}}</span>
        <span style="margin-left: 40px;">DATA : {{pedido.date_register | date:"dd-MM-yyyy"}}</span>
        <span style="margin-left: 40px;">STATUS : {{pedido.status}}</span>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <span><b>CLIENTE: {{pedido.firstName + " " + pedido.lastName | uppercase}}</b> <button class="btn btn-xs btn-default glyphicon glyphicon-edit hidden-print" ng-click="addCustomer()"></button></span>
        <br>
        <span>ENDEREÇO: {{pedido.address + ", " + pedido.number + ", " + pedido.neighborhood + ", " + pedido.city + " - " + pedido.state | uppercase}} </span>
        <br>
        <span>CONTATOS: {{pedido.phone + " || " + pedido.celphone +" || " + pedido.email | uppercase}} </span>
        <br>
      </div>
    </div>

    <hr />

    <div class="clearfix">
      <div ng-controller="productCtrl">
        <span><b>ITENS DO PEDIDO</b></span>
        <table class="table table-condensed tabled-hover">
          <thead>
            <tr>
              <th width="10%">Qtd</th>
              <th width="40%">Descrição</th>
              <th width="20%">Vlr. Unitário</th>
              <th width="20%">Vlr. total</th>
              <th width="10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="prod in products">
              <td>{{prod.qtd}}</td>
              <td>{{prod.description}}</td>
              <td>{{prod.value | currency:'R$ '}}</td>
              <td>{{prod.qtd * prod.value | currency:'R$ '}}</td>
              <td>
                <button class="btn btn-xs btn-default glyphicon glyphicon-edit hidden-print" ng-click="editProduct(prod)"></button>
                <button class="btn btn-xs btn-danger glyphicon glyphicon-remove hidden-print" ng-click="removeProduct(prod.id, $index)"></button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>TOTAL</td>
              <td>
                <span>{{totalPedido | currency:'R$ '}}</span>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <form class="hidden-print" ng-hide="updateP">
          <div class="form-group col-sm-2 col-md-2">
            <label for="qtd">Qtd</label>
            <input class="form-control" name="item[qtd]" type="text" maxlength="5" ng-model="item.qtd" value="">
          </div>
          <div class="form-group col-sm-5 col-md-5">
            <label for="description">Descrição</label>
            <input class="form-control" type="text" ng-model="item.description">
          </div>
          <div class="form-group col-sm-3 col-md-3">
            <label for="valor">Valor</label>
            <input class="form-control" type="text" ng-model="item.value">
          </div>
          <div class="form-group col-xs-12 col-sm-2 col-md-2">
            <label for="">&nbsp</label>
            <button class=" form-group btn btn-default col-xs-12" ng-click="addProduct(item)">
              Add</button>
          </div>
        </form>
        <form class="hidden-print" ng-show="updateP">
          <div class="form-group col-sm-2 col-md-2">
            <label for="qtd">Qtd</label>
            <input class="form-control" name="item[qtd]" type="text" maxlength="5" ng-model="item.qtd" value="">
          </div>
          <div class="form-group col-sm-5 col-md-5">
            <label for="description">Descrição</label>
            <input class="form-control" type="text" ng-model="item.description">
          </div>
          <div class="form-group col-sm-3 col-md-3">
            <label for="valor">Valor</label>
            <input class="form-control" type="text" ng-model="item.value">
          </div>
          <div class="form-group col-xs-12 col-sm-2 col-md-2">
            <label for="">&nbsp</label>
            <button class=" form-control btn btn-default col-xs-12" ng-click="updateProduct(item)">Alterar</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Pagamento -->
  </div>


  <!-- Customer Selection -->
  <div id="customer-selection" ng-show="selectionCustomer">
    <h3>Selecione o Cliente</h3>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" ng-model="search.firstName">
    </div>
    <table class="table table-condensed table-hover">
      <thead>
        <th width="60%">Nome</th>
        <th width="20%">Telefone</th>
        <th width="20%">Celular</th>
      </thead>
      <tbody>
        <tr ng-repeat="customer in customers track by $index | filter:search:strict | orderBy:'firstName'">
          <td><a href="" ng-click="selectCustomer(customer)">{{ customer.firstName }} {{ customer.lastName }}</a></td>
          <td>{{customer.phone}}</td>
          <td>{{customer.celphone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
