input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
input.ng-pristine {
    border: 1px solid #ccc;
}
@media print{
  *{
    font-size: 12px;
  }
  td {
    border:0px solid !important;
  }
}
