body{
  /*min-width: 320px;*/
}
input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
input.ng-pristine {
    border: 1px solid #ccc;
}
@media print{
  *{
    font-size: 12px;
  }
  td {
    border:0px solid !important;
  }
}
@media screen and (max-width: 1199px){
  body{
    font-size: 12px;
  }
}

//Payment
.list-payment{
  padding: 0px;
  margin-left: 0px;
  list-style: none;
  font-size: 6px;
  float: left;
  clear: both;
}
.list-inline{
  display: inline-table;
  margin:0 20px 10px 0;
  float: left;
  width: 120px;
}
